[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = git@github.com:jakob321/ORB_SLAM3.git
[submodule "ml-depth-pro"]
	path = ml-depth-pro
	url = git@github.com:jakob321/ml-depth-pro.git
[submodule "Depth-Anything-V2"]
	path = Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "Metric3D"]
	path = Metric3D
	url = https://github.com/YvanYin/Metric3D.git
